fastapi
uvicorn
python-dotenv
pydantic

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq

chromadb
sentence-transformers
huggingface-hub

firecrawl-py
tqdm

python-multipart
