fastapi
uvicorn
python-dotenv
pydantic
gunicorn==22.0.0
python-multipart==0.0.9
requests>=2.31.0
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq

chromadb
sentence-transformers
huggingface-hub

firecrawl-py
tqdm

python-multipart
pysqlite3-binary
